<h2>Orden de compra</h2>
<div>
  <label for="status">Estado</label>
  <select
    id="status"
    class="form-control">
    <option value="online">Abierto</option>
    <option value="offline">Cerrado</option>
    <option value="offline">Cerrado con pendientes</option>
  </select>
</div>
<div>
  <label for="bodega">Bodega de destino</label>
  <select
    id="bodega"
    class="form-control">
    <option value="bodega1">Bodega1</option>
    <option value="bodega2">Bodega2</option>
    <option value="bodega3">Bodega3</option>
    <option value="bodega4">Bodega4</option>
    <option value="bodega5">Bodega5</option>
    <option value="bodega6">Bodega6</option>
  </select>
</div>
<br/>
<label>Productos</label>
<table>
  <tr>
    <td>Código</td>
    <td>Nombre</td>
    <td>Cantidad</td>
    <td>Unidad</td>
    <td>Entregados</td>
    <td>Pendientes</td>
  </tr>
  <tr>
    <td>12544</td>
    <td>Tornillo</td>
    <td>5</td>
    <td>Cajax100</td>
    <td>3</td>
    <td>2</td>
  </tr>
  <tr>
    <td>54549</td>
    <td>Cable</td>
    <td>100</td>
    <td>mts</td>
    <td>100</td>
    <td>0</td>
  </tr>
</table>

<button type="button" class="btn btn-success">Basic</button>
