<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
            aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent1">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">Movimiento</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Entrada con orden de compra</a>
            <a class="dropdown-item" href="#">Salida a orden de producción</a>
            <a class="dropdown-item" href="#">Entrada de orden de producción</a>
          </div>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="orden">Orden de compra</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#producto">Producto</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div>
  <router-outlet></router-outlet>
</div>

